<section id="CustomerInformation" >
<div class="container">
<div class="panel panel-primary">
	<div class="panel-heading"><h2 class="panel-title">Customer Information</h2></div>
    <div class="panel-body">
    	<div class="col-md-6">
    		<!--<p>Contract Number: XXXX</p>
    		<p>Owner: XXXX</p>-->
    		<p>Owner: First Last</p>
    		<p>Client ID: 1234567</p>
    		
    	</div>
		<div class="col-md-6">
    		<!--<p>Contract Number: XXXX</p>
    		<p>Owner: XXXX</p>-->    		
    		<p>Joint Owner: First Last</p>
    		<p>Client ID: 1234567</p>
    	</div>
    	
    </div>
</div>
</div>
<!--Section Customer Information Ends here -->

</section>