<section id="PartialWithdrawalProcessInformation">

<div class="container">
<div class="panel panel-primary  setup-yes">
	<div class="panel-heading">
		<h2 class="panel-title">Partial Withdrawal Process Information</h2>
	</div>
	<div class="panel-body">
		<div class="row">
		
		
		<div class="col-md-6">
		
		<div class="form-group">
				<label  class="control-label">Withdrawal Type Requested?</label><br>
				

				<select class="form-control">
				<option>Select</option>
			        <option>Cash Distribution</option>
			         <option>Qualified Transfer</option>
			         <option>1035 Exchange</option>
			         <option>Annuitization</option>
					 <option>Exchange Offer</option>
			         <option>Unknown</option>
			    </select>
			</div>
		</div>
		
		
		<div class="col-md-6">
			<div class="form-group">
				<label  class="control-label">Was all required tansfer paperwork received and in good order?</label><br>
			  <div class="radio styled-radio radio-inline">
			        <input type="radio" name="inline-radio15" id="inline-radio15-1" value="option15-1">
			        <label for="inline-radio15-1">Yes</label>
			    </div>  
				<div class="radio styled-radio radio-inline">
			        <input type="radio" name="inline-radio15" id="inline-radio15-2" value="option15-2">
			        <label for="inline-radio15-2">No</label>
			    </div>  
			</div>
			</div>
			<div class="clearfix"></div>
			
			
			<div class="col-md-6">
			<div class="form-group">
				<label  class="control-label">Was other company's signature received?</label><br>
				<div class="radio styled-radio radio-inline">
			        <input type="radio" name="inline-radio25" id="inline-radio25-1" value="option25-1">
			        <label for="inline-radio25-1">Yes</label>
			    </div>  
				<div class="radio styled-radio radio-inline">
			        <input type="radio" name="inline-radio25" id="inline-radio25-2" value="option25-2">
			        <label for="inline-radio25-2">No</label>
			    </div> 
			</div>
			</div>
			
			<div class="col-md-6">
			<div class="form-group">
			<label  class="control-label">Is the replacing contract an annuity or long term care policy?</label><br>
			
				<div class="radio styled-radio radio-inline util-m1-l">
			        <input type="radio" name="inline-radio511" id="inline-radio511-1" value="option511-1" checked="checked">
			        <label for="inline-radio511-1">Yes</label>
			    </div>
			    <div class="radio styled-radio radio-inline">
			        <input type="radio" name="inline-radio511" id="inline-radio511-2" value="option511-2">
			        <label for="inline-radio511-2">Unknown</label>
			    </div>
			</div>
			</div>
			<div  class="clearfix"></div>
			<div class="col-md-6">
			<div class="form-group">
			<label  class="control-label">Is the withdrawal form acceptable?</label><br>
			
				<div class="radio styled-radio radio-inline util-m1-l">
			        <input type="radio" name="inline-radio56" id="inline-radio56-1" value="option56-1" checked="checked">
			        <label for="inline-radio56-1">Yes</label>
			    </div>
			    <div class="radio styled-radio radio-inline">
			        <input type="radio" name="inline-radio56" id="inline-radio56-2" value="option56-2">
			        <label for="inline-radio56-2">Unknown</label>
			    </div>
			</div>
			</div>
			
		<div class="col-md-6">
		<div class="form-group">
				<label  class="control-label">What was 412(i) qualifying event?</label><br>
				<select class="form-control">
			        <option>Select</option>
			        <option>Early/Normal Retirement</option>
			        <option>Death Claim</option>
			        <option>Disability</option>
			        <option>Divorce</option>
					<option>Separation of Service</option>
					<option>None of the above</option>
			    </select>
			</div>
		
		
		
		
		</div>
		
		
		<div class="col-md-6">
		<div class="form-group" id="data_1">
                              <label  class="control-label">Amount Requested</label><br>
				<select class="form-control">
			        <option>Select</option>
			        <option>Corridor </option>
			        <option>Free Surrender Amount</option>
			        <option>Withdrawal Up To Minimum Surrender Amount</option>
					<option>Required Minimum Distribution (RMD)</option>
					<option>RMD For GMWB</option>					
					<option>For Life/RMD</option>
			        <option>Death Claim</option>
					<option>FWO Withdrawal</option>
					<option>No option selected</option>
					<option>Multiple option selected</option>
					
			    </select>
                            </div>
		</div>
		
		<div class="col-md-6">
		
		
		<div class="form-group">
				<label  class="control-label">Specified Amount</label><br>
		<div class="radio styled-radio radio-inline">
			        <input type="radio" name="inline-radio35" id="inline-radio35-1" value="option35-1">
			        <label for="inline-radio35-1">After Taxes</label>
			    </div>    <div class="radio styled-radio radio-inline">
			        <input type="radio" name="inline-radio35" id="inline-radio35-2" value="option35-2">
			        <label for="inline-radio35-2">Before Taxes</label>
			    </div>
			</div>		
		</div>
		<div class="clearfix"></div>
		<div class="col-md-6">
		<div class="form-group" id="data_1">
                              <label  class="control-label">Annuitization Option</label><br>
				<select class="form-control">
			        <option>Select</option>
			        <option>5-9 Fixed Period</option>
			        <option>Other </option>
			       				
			    </select>
                            </div>
		</div>
		
		<div class="col-md-6">
		
		
		<div class="form-group" id="data_1">
                                <label class="font-noraml">Effective Date</label>
                                <div class="input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" value="  /  /    ">
                                </div>
                            </div>
				
		</div>
		
		
		
		<div class="col-md-6">
		<div class="form-group">
				<label  class="control-label">Request was received after 3:00 P.M. CST</label><br>
				<div>
			        <input type="checkbox" >
			        <label >Request was received after 3:00 P.M. CST</label>
			    </div>
			  
			</div>
			
		</div>
		
		
		
		<div class="col-md-6">
		<div class="form-group">
				<label  class="control-label">Which fund allocations should the withdrawal be deducted from?</label><br>
				<select class="form-control">
			        <option>Current Deduction Percentages</option>
			         <option>Flat Amount</option>
			         <option>Percent Of Investment</option>
			         <option>Prorate</option>
					 <option>Close Fund With Prorate </option>
			         <option>No option selected</option>
			         <option>Multiple options selected</option>
			    </select>
			</div>
		</div>
		
		
		<div class="col-md-6">
		<div class="form-group">
				<label  class="control-label">Do you need to override surrender charges?</label><br>
				<select class="form-control">
			        <option>Surrender charges Apply</option>
			         <option>Surrender charges Do Not Apply - Waiver Rider Terminal Illness</option>
			         <option>Surrender charges Do Not Apply - Waiver Rider Disability</option>
			         <option>Surrender charges Do Not Apply - Waiver Rider Long Term Care Facility</option>
					 <option>Surrender charges Do Not Apply </option>
			         <option>Other</option>
			         <option>Multiple options selected</option>
			    </select>
			</div>
		
		</div>
		<div class="col-md-6">
		<div class="form-group">
				<label  class="control-label">Do you have all required documentation to override surrender charges?</label><br>
				<div class="radio styled-radio radio-inline util-m1-l">
			        <input type="radio" name="inline-radio46" id="inline-radio46-1" value="option46-1" checked>
			        <label for="inline-radio46-1">Yes</label>
			    </div>
			    <div class="radio styled-radio radio-inline">
			        <input type="radio" name="inline-radio46" id="inline-radio46-2" value="option46-2">
			        <label for="inline-radio46-2">No</label>
			    </div>
			</div>
		
		</div>
		</div>
	</div>
</div>
</div>
</section>