/* CSS Document */


.clearBig{height:120px;}
h2 {
  text-align: left;
  font-weight:bold !important;
}

table caption {
	padding: .5em 0;
}

@media screen and (max-width: 767px) {
  table caption {
    border-bottom: 1px solid #ddd;
  }
}

a, b, strong{font-weight:bold !important}
.rowcolr{background-color:#ccc}
.rowHeadcolr{background-color:tan}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    margin-left: 0px; 
}

.checkbox, .radio {
   
    margin-top: 0px;
  
}
.is-required:after{font-family:"Gotham SSm 7r","Gotham SSm 3r","Gotham 3r","Arial",Arial,sans-serif;font-weight:normal;font-style:normal;content:" *";color:#f05948}
.is-required-header:before{font-family:"Gotham SSm 7r","Gotham SSm 3r","Gotham 3r","Arial",Arial,sans-serif;font-weight:normal;font-style:normal;content:"*";color:#f05948;padding-right:5px}

.datepicker .prev:after {
    content: "" !important;
    font-family: FontAwesome;
    visibility: visible;
    color: #fff;
    position: relative;
    right: 3px;
}

.datepicker .prev, .datepicker .next {
    text-align: center;
    background-color: #0091da;
    color: #000 !important;
}

.datepicker .next:after {
    content: "" !important;
    font-family: FontAwesome;
    visibility: visible;
    color: #fff;
    position: relative;
    right: 3px;
}

.datepicker thead tr:first-child th.cw {
    cursor: default;
    background-color: #0091da;
	
	padding-left:3px;
}

.datepicker table tr td, .datepicker table tr th {
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 0px;
    border: none;
}

.datepicker .day, .datepicker .month, .datepicker .year {
    background-color: #f1f1f1;
    color: #464646;
    border-style: none; 
    border-width: 3px;
    border-color: #fff;
    text-align: center;
}
.taskNav-details {padding: 10px 0; }
			.navbar-logo img {height: 2.2em;}
			.task-body .comments-container{top:55px;}
			.taskNav-details {color:#fff;} 
			
			.control-label{font-size:14px !important; font-weight:bold; text-transform: uppercase; color:#0091da}
			.font-noraml{font-size:14px !important; font-weight:bold;}